[Unit]
Description=GCloudDNS service for %I
After=network-online.target
Wants=gclouddns.timer

[Service]
Type=oneshot
ExecStart=/path/to/gclouddns.sh -c %i

[Install]
WantedBy=multi-user.target